.AppBar {
  background-color: #ccfbff;
}

.ButtonContainer {
  display: flex;
  justify-content: space-around;
}

.UserDropdown {
  text-align: right;
}

.ant-dropdown {
  z-index: 1000000000000 !important;
}
