.booking{
    margin: 60px auto;
    padding: 20px;
    max-width: 90%;
}

.package{
    background-color: rgb(247, 247, 247);
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    border: solid 5px rgb(238, 236, 236);
    box-shadow: box-shadow;
    transition: transform 0.3s ease-in-out;
    
    &:hover {
        transform: translateY(-8px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
      }
}
.package.select{
    border: solid 5px greenyellow;
}

.package h4{
    text-align: left;
}

.packages{
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 77vh;
    overflow: auto;
}