// Biến màu sắc
$primary-color: #3498db;
$secondary-color: #2ecc71;
$border-color: #ccc;
$shadow-color: rgba(0, 0, 0, 0.1);

.package-list {
  text-align: center;

  .package-item {
    border: 1px solid $border-color;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 6px $shadow-color;
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-5px);
    }

    h2 {
      font-size: 1.5rem;
      margin-bottom: 10px;
      color: $primary-color;
    }

    p {
      margin-bottom: 5px;
    }

    img {
      max-width: 30%;
      border-radius: 5px;
      margin-top: 10px;
    }
  }
}
