// partyhostlist.scss

// Biến
$primary-color: #1890ff;
$secondary-color: #13c2c2;
$background-color: #f0f0f0;
$text-color: #333;
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

.party-host-list {
  margin: 20px;
  
  .party-host {
    background-color: $background-color;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: $box-shadow;
    
    h2 {
      font-size: 20px;
      margin-bottom: 10px;
      color: $text-color;
    }
    
    p {
      margin: 10px 0;
      
      &.contact {
        font-weight: bold;
      }
    }
  }
}

// Hiệu ứng hover
.party-host {
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}
