.service-list {
    width: 100%;
    border-radius: 10px;
    max-width: 1200px; // Adjust the maximum width as needed
    margin: 0 auto; // Center the container horizontally
    background-color: rgb(248, 233, 236);
  }
  
  .row {
    display: flex;
    justify-content: flex-end; // Align items to the right
  }
  
  .box {
    width: 33.33%; // Each box occupies one-third of the row
    padding: 10px; // Add spacing between boxes
  }
