.feedback-list-container {
  padding: 20px;

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .ant-table-wrapper {
    .ant-table {
      th {
        background-color: #f0f0f0;
      }

      td,
      th {
        padding: 12px;
      }

      .ant-table-tbody > tr > td {
        vertical-align: middle;
      }
    }
  }
}
